<div>
  <p>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span
            ><a routerLink="/cursos/lista" routerLinkActive="active"
              >Lista Cursos</a
            ></span
          >
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

      <span>Cursos</span>

      <span class="example-spacer"></span>

      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><a routerLink="/cursos/curso-ingles" routerLinkActive="active">Curso Ingles</a></mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list> -->

  <!-- The routed views render in the <router-outlet>-->
    <div class="container">
      <router-outlet ></router-outlet>
    </div>

</div>
